// Layout
.siteContainer {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template: auto;
    grid-template-areas: 
        "header header header header"
        ". main main .";
  
    main {
        margin: 0 24px 0;
    }
  }