<div class="card">
    <div class="card__image">
        <img src="https://picsum.photos/360/200" alt="All the videos" class="card__image-img">
        <div class="card__image-overlay">
            <span class="card__video-length">16:27</span>
            <span class="card__video-watch-later">Clock</span>
            <span class="card__video-queue">Queue</span>
            <span class="card__video-play">Play</span>
        </div>
    </div>
    <div class="card__data">
        <img src="https://picsum.photos/36" alt="Devon" class="card__profile-image">
        <div class="card__meta">
            <h4 class="card__video-title">Some Crazy Video</h4>
            <div class="card__video-author">Devon Lambert</div>
        
            <span class="card__views">606K views</span>
            <span class="card__upload-date">12 months ago</span>
        </div>
    </div>
</div>