    <nav>
        <button class="mobile__nav">
            
        </button>
        <a href="/">Home</a>
        <a href="/trending">Trending</a>
        <a href="/subscriptions">Subscriptions</a>
    </nav>