<ul>
    <li>{{>icons/search}}</li>
    <li>{{>icons/upload}}</li>
    <li>{{>icons/apps}}</li>
    <li>{{>icons/notifications}}</li>
    <li>
        <a class="profile">
            <img src="/images/global/profile.jpg" alt="my profile"/>
        </a>
    </li>
</ul>