<button class="search">search</button>
<button class="create">create/upload</button>
<button class="apps">youtube apps</button>
<button class="notifications">notifications</button>
<button class="profile">my profile</button>