<div class="row">
    <section class="section">
        <h3 class="section__title">Recommended</h3>
        <div class="col-1-of-3">{{>card}}</div>
        <div class="col-1-of-3">{{>card}}</div>
        <div class="col-1-of-3">{{>card}}</div>
    </section>
</div>

<div class="row">
    <section class="section">
        <h3 class="section__title">Recommended</h3>
            <div class="col-1-of-3">Card CONTENT</div>
    </section>
</div>