@import 'base/normalize';

// icons
$logoWidth: 80px !default;
$logoHeight: 24px !default;
$navIconWidth: 24px !default;
$navIconHeight: 24px !default;

.siteLogo {
    width: $logoWidth;
    height: $logoHeight;
}

.navTrigger {
  display: inline-block;
  cursor: pointer;
}

a.profile {
  img {
    width: $navIconWidth;
    height: $navIconHeight;
  }
}

// Layout
.siteContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template: auto;
  grid-template-areas: 
      "header header header header"
      ". main main .";

  main {
      margin: 0 24px 0;
  }
}

// Navigation
.mainNav {
  grid-area: header;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
  padding: 10px 20px;
  display: flex;
  

  nav {
      display: none;
  }

  >ul {
    list-style: none;
  }
  >ul li {
    display: inline-block;
    width: $navIconWidth;
    height: $navIconHeight;
  }
}
