.siteContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template: auto;
  grid-template-areas: "header header header header" ". main main ."; }
  .siteContainer main {
    margin: 0 24px 0; }

.mainNav {
  grid-area: header;
  border-bottom: 2px solid #ccc;
  margin-bottom: 20px;
  padding: 10px 20px;
  display: flex; }
  .mainNav nav {
    display: none; }
  .mainNav > ul {
    list-style: none; }
  .mainNav > ul li {
    display: inline-block;
    width: 24px;
    height: 24px; }

.navTrigger {
  display: inline-block;
  cursor: pointer; }

.siteLogo {
  width: 80px;
  height: 24px; }

a.profile img {
  width: 24px;
  height: 24px; }
