<ul class="navigation navigation__cta">
    <li class="navigation navigation__cta-item">{{>icons/search}}</li>
    <li class="navigation navigation__cta-item">{{>icons/upload}}</li>
    <li class="navigation navigation__cta-item">{{>icons/apps}}</li>
    <li class="navigation navigation__cta-item">{{>icons/notifications}}</li>
    <li class="navigation navigation__cta-item">
        <a class="navigation navigation__cta-anchor">
            <img class="navigation navigation__cta-profile" src="/images/global/profile.jpg" alt="my profile"/>
        </a>
    </li>
</ul>